body{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    padding: 15px;
    background-color: white;
    box-sizing: border-box;
    position: fixed ;
    top: 0;
    left: 0;
}

#header .h-left{
    display: flex;
    align-items: center;
}

#header .h-left img{
    width: 100px;
    margin: 0.5rem;
    padding-left: 10px;
}

#header .h-left span{
    cursor: pointer;
    padding: 0.7px;
}

#header .h-search{
    float: left;
}
.input-box{
    float: left;
    position: relative;
}
.input-box .keyboard-search{
    position: absolute;
    top: 7px;
    right: 10px;
    color: #666;
}
.button-search-box{
    float: left;
}
.button-mic-box{
    float: left;
}
.search-input{
    width: 500px;
    height: 36px;
    margin-left: 100px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 2px;
    border: 1px #cccc solid;
    box-shadow: 0 0 1px #ccc;
}
.search-button{
    width: 60px;
    height: 40px;
    border: 1px #cccccc solid;
    cursor: pointer;
}
.search-button:hover{
    background: #ccc;
}
.search-button span{
    color: #666;
    font-size: 25px;
}
.mic-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px rgba(248, 248, 248, 0.8) solid;
    cursor: pointer;
    margin-left: 8px;
    background-color: white;
}
#header .h-right{
    display: flex;
    align-items: center;
    color: rgb(73, 72, 72);
}
.action-list{
    display: flex;
    padding-top: 5px;
}
.action-list .icon-box{
    margin-right: 34px;
}
.icon-box{
    position: relative;
}
.icon-box .noti-count{
    width: 24px;
    height: 18px;
    top: -17px;
    right: -14px;
    background: red;
    border-radius: 9px;
    font-size: 12px;
    color: white;
    position: absolute;
    text-align: center;
    line-height: 18px;
}
.action-list .icon-box span{
    font-size: 24px;
}
#sidebar{
    height: 100%;
    width: 230px;
    margin-top: 56px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
    height: 150%;
    background-color: white
}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 5px;
}
#sidebar .sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
#sidebar .sidebar_categories .sidebar_category{
    display: flex;
    height: 40px;
    align-items: center;
    padding: 0 15px 12px 15px;
}
#sidebar .sidebar_categories .sidebar_category .txt-span{
    margin-left: 25px;
}
#sidebar .footer{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    padding:  0 15px;
    padding-bottom: 60px;
    box-sizing: border-box;
}
#sidebar .footer .txt-footer{
    opacity: 0.4;
}
#main{
    height: 100%;
    margin-top: 56px;
    margin-left: 230px;
}
